# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [4]:
number = 6
print(number)

6

##### Assinging float

In [6]:
numberFloat = 2.3
print(numberFloat)

number_float = 2.5
print(number_float)

2.3
2.5

#### Performing Calculations on ints and floats

##### Addition

In [11]:
num1 = 2
num2 = 5.4
result = num1+num2
print(result)
result +=1
print(result)

7.4
8.4

##### Subtraction

In [15]:
result_diff = 5 - 2
print(result_diff)

result_diff -= 2
print(result_diff)

3
1

##### Multiplication

In [16]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 3
print(result_mul)

10.8
32.400000000000006

##### Division

In [17]:
result_div = num2/num1
print(result_div)

result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [19]:
result_floor = num2 // num1
print(result_floor)

result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [24]:
result_mod = 100 % 30
print(result_mod)

#short way
result_mod %= 2
print(result_mod)

10
0

##### Exponential

In [26]:
square = 5**2
print(square)

#shorthand version
square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [27]:
name = "Farrukh"
print(name)

Farrukh

##### print() <br>
<p>Don't forget about end=' '</p>

In [36]:
print("This is my first name:",name)
print("Full Name:", name, end=" Sultan")

This is my first name: Farrukh
Full Name: Farrukh Sultan

##### String Concatenation

In [41]:
first_name = "Farrukh"
last_name = "Sultan"
full_name = first_name + " " + last_name
print(full_name)

#shorthand
full_name += " Sahi"
print(full_name)

Farrukh Sultan
Farrukh Sultan Sahi

##### Type Conversion

In [42]:
num = "32"
change_type_num = int(num)
change_type_num += 5
print(change_type_num)

37

##### input()

In [44]:
#input() will always return a string!!! 
name = input("What is your name? ")
print(name)

What is your name? Farrukh
Farrukh

##### format()

In [46]:
name = input("What is your name? ")
age = input("What is your age? ")
result_string = "You are {}, you are {} years old and you are getting wiser!".format(name,age)
print(result_string)

What is your name? Farrukh
What is your age? 35
You are Farrukh, you are 35 years old and you are getting wiser!

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [47]:
# Get information from the user
color = input("Enter the color of the car: ")
year = input("Enter the year of the car: ")
make = input("Enter the make of the car: ")
model = input("Enter the model of the car: ")

# Creation of a formatted string
car_info = f"I have a {year} {color} {make} {model}."

print("\nCar information:")
print(car_info)

Enter the color of the car: Black
Enter the year of the car: 2015
Enter the make of the car: Toyota
Enter the model of the car: Camry

Car information:
I have a 2015 Black Toyota Camry.

### If Statements

In [60]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 6
num2 = 10

if num1 == 5:
    print("Equal values")
else:
    print("Not equal")

Not equal

##### 'is' keyword

In [61]:
# when checking for same or similar object, not the same value

num3 = 55
num4 = num3
if num3 is num4:
    print("This is the same type or similar object")

This is the same type or similar object

##### 'in' keyword

In [67]:
char_name = "Farrukh Sultan"
if "Sultan" in char_name:
    print("Sultan is part of the name")

Sultan is part of the name

##### 'not in' keyword'

In [70]:
sega_char = "Sonic"
if "a" not in sega_char:
    print("a is not here")

a is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [76]:
# Ask the user for input
user_input = input("Enter the word of your choice: ")
# Check if the letter 'p' is present in that word of choice
if "p" in user_input.lower():
    print("The letter 'p' is present in the input.")
else:
    print("The letter 'p' is not present in the input.")

Enter the word of your choice: Poem
The letter 'p' is present in the input.

## Using 'and'/'or' with If Statements

In [80]:
first_name = "Max"
if first_name == "Smith":
    print("The name is Smith")
elif first_name != "Max":
    print("The name is not Max")
else:
    print("The name is Max")

The name is Max

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [84]:
# For item in iterable_thing:
    # do some stuff

name = "Farrukh Sultan"
for letter in name:
    print(letter)

F
a
r
r
u
k
h

S
u
l
t
a
n

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [85]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [86]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

In [93]:
for i in range(5):
    for j in range(5):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

### While Loops

In [94]:
# while condition statement (something that is true or false):
    # do some stuff repeatedly
num = 0
while num <=10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9
10

##### Looping 'While True'

In [107]:
game_running = True
score = 0

while game_running:
    user_input = input("Say some stuff ")
    if user_input == "quit":
        game_running = False
    print(user_input)
    score += 1
    print(f"Score: {score}")

Say some stuff some stuff
some stuff
Score: 1
Say some stuff more stuff
more stuff
Score: 2
Say some stuff more stuff again
more stuff again
Score: 3
Say some stuff quit
quit
Score: 4

##### While & For Loops Used Together

In [108]:
num = 0
while num < 5:
    print("\n While Loop Iteration: " + str(num))
    for i in range(2):
        print("For Loop Iteration: " + str(i))
    num += 1

 While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

### Built-In Functions

##### range()

In [110]:
# range(start, stop, step)
# default: start = 0, stop is required, step = 1
for i in range(2,20,3):
    print(i)

2
5
8
11
14
17

##### len()

In [112]:
name = "Farrukh"
length = len(name)
print(name)
print(length)

Farrukh
7

##### help()

In [117]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

##### isinstance()

##### abs()

In [118]:
print(abs(-5))

5

### Try and Except

In [120]:
# use this whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# use this to log out graceful and informative error messages

try:
    number_test = 0
    input_num = int(input("Guess a number "))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your number is: " + str(input_num))
except:
    print("Error: Please change your input to a number")

Guess a number Farrukh
Error: Please change your input to a number

### Lists

##### Declaring Lists

In [143]:
my_list = [] # empty list
names = ["Farrukh", "Sultan", "Sahi", "500"]
print(names)

['Farrukh', 'Sultan', 'Sahi', '500']

##### Indexing a List

In [131]:
# single index
print(names[2])

# print the last value no matter the size of the list
print(names[-2])

# print starting at 1 going to the end
print(names[1:])

# print starting at the begening of list until whatever index we give it
print(names[:3])

# print from one index to next
print(names[1:3])

# print starting at index one going up by 2 for each iteration
print(names[1::2])

# print starting at the end and going down
print(names[::-1])

Sahi
Sahi
['Sultan', 'Sahi', '500']
['Farrukh', 'Sultan', 'Sahi']
['Sultan', 'Sahi']
['Sultan', '500']
['500', 'Sahi', 'Sultan', 'Farrukh']

##### .append()

In [144]:
names.append("Ijaz")
print(names)

['Farrukh', 'Sultan', 'Sahi', '500', 'Ijaz']

##### .insert()

In [157]:
names.insert(3, "Gaby")
print(names)

['Gaby']

##### .pop()

In [162]:
my_name = names.pop(3)
print(my_name)
print(names)

IndexError: pop from empty list


##### .remove()

In [166]:
# value to be removed, not the index
names.remove("Sahi")
print(names)

ValueError: list.remove(x): x not in list

##### del()

##### Concatenating Two Lists

In [167]:
list_1 = [0,1,2]
list_2 = [3,4,5]
big_list = list_1 + list_2
print(big_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [170]:
names = ["Max", "Sam", "Josh", ["Sally", "Sue", "Tameke"]]
print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameke']]
Sue

##### Looping Through Lists

In [172]:
# two ways: one is by index, the other is by using the 'in' keyword
# with a for loop using the index

for i in range(len(names)):
    print(names[i])
    
# loop with a for loop and in
for name in names:
    print(name)

Max
Sam
Josh
['Sally', 'Sue', 'Tameke']
Max
Sam
Josh
['Sally', 'Sue', 'Tameke']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [177]:
number = 1
while True:
    cube = number**3
    if cube > 1000:
        break
    print(cube)
    number += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [182]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for num in range(2,101):
    for i in range(2, int(num**0.5+1)):
        if num % i == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [181]:
age = int(input("What is your age: "))
if age < 18:
    print("Kids")
elif 18 <= age <= 65:
    print("Adults")
else:
    print("Seniors")

What is your age: 70
Seniors